.table td, .table th { vertical-align: middle; }

canvas {
  width: 100%;
  height: auto;
  max-height: 100%;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #e0e0e0;
}

[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #000000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.logo-img {
  height: 100px;
  width: auto;
  vertical-align: middle;
}

.logo-wrapper svg {
  height: 28px !important;
  width: auto !important;
  vertical-align: middle;
}

.navbar-brand {
  font-size: 1.5rem; /* Beispielgröße für den Text */
}
