
SECRET_KEY=dein-geheimer_schluessel
DB_HOST=getraenkekasse-db
DB_NAME=getraenkekasse
DB_USER=db-user
DB_PASS=db-password
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_TLS=true
FROM_EMAIL=
APP_BASE_URL=http://localhost:5000
