{% extends "base.html" %}
{% block content %}
<div class="card shadow-sm">
  <div class="card-body">
  <!--div class="container-fluid px-2 px-md-3"-->
    <h1 class="h5 mb-3">{{ _('Benutzer bearbeiten') }}: {{ user.username }}</h1>
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <!--div class="mb-3">
        <label class="form-label">{{ _('E-Mail') }}</label>
        <input type="email" name="email" class="form-control" value="{{ user.email or '' }}">
      </div-->
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
        <div class="form-floating flex-grow-1">
          <input type="email" name="email"  inputmode="text" class="form-control"
            placeholder="{{ _('E-Mail') }}" value="{{ user.email or '' }}">
            <label for="email">{{ _('E-Mail') }}</label>
        </div>
      </div>

      <!--div class="mb-3">
        <label for="password">{{ _('Neues Passwort (optional)') }}</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="{{ _('Neues Passwort eingeben') }}">
        <small class="form-text text-muted">{{ _('Leer lassen, wenn das Passwort nicht geändert werden soll') }}.</small>
      </div-->
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="bi bi-key"></i></span>
        <div class="form-floating flex-grow-1">
          <input type="password" name="password"  inputmode="text" class="form-control"
            placeholder="{{ _('Neues Passwort eingeben') }}" value="">
            <label for="password">{{ _('Neues Passwort eingeben (optional)') }}</label>
        </div>
      </div>

      <!--div class="mb-3">
        <label class="form-label">{{ _('Rolle') }}</label>
        <select name="role" class="form-select" required>
          {% for r in roles %}
          <option value="{{ r }}" {% if user.role==r %}selected{% endif %}>{{ r }}</option>
          {% endfor %}
        </select>
      </div-->
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="bi bi-shield-check"></i></span>
        <div class="form-floating flex-grow-1">
          <select name="role" class="form-select" required>
            {% for r in roles %}
            <option value="{{ r }}" {% if user.role==r %}selected{% endif %}>{{ r }}</option>
            {% endfor %}
          </select>
          <label for="password">{{ _('Rolle') }}</label>
        </div>
      </div>

      <!--div class="mb-3">
        <label for="password" class="form-label">Neues Passwort (optional)</label>
        <input type="password" class="form-control" id="password" name="password" autocomplete="new-password"
          placeholder="Neues Passwort">
        <div class="form-text">Leer lassen, wenn das Passwort nicht geändert werden soll.</div>
      </div-->


      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="active" id="active" {% if user.active %}checked{% endif %}>
        <label class="form-check-label" for="active">{{ _('Aktiv') }}</label>
      </div>

      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" name="can_approve" id="can_approve" {% if user.can_approve
          %}checked{% endif %}>
        <label class="form-check-label" for="can_approve">{{ _('Darf Zahlungsfreigaben erteilen') }}</label>
      </div>

      <a href="{{ url_for('user_routes.users_list') }}" class="btn btn-secondary">{{ _('Abbrechen') }}</a>
      <button type="submit" class="btn btn-primary">{{ _('Speichern') }}</button>
    </form>
  </div>
</div>
{% endblock %}