
{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="card shadow-sm"><div class="card-body">
      <h5 class="card-title">Anmeldung</h5>
      <form method="post" action="{{ url_for('login_post') }}">
        <div class="mb-3"><label class="form-label">Benutzername</label><input name="username" class="form-control" autofocus></div>
        <div class="mb-3"><label class="form-label">Passwort</label><input type="password" name="password" class="form-control"></div>
        <button class="btn btn-primary w-100">Login</button>
      </form>
    </div></div>
  </div>
</div>
{% endblock %}
